<section id='about'>
    <div class='row'>
        <div class='col-md-5 gx-4 mb-4'>
            <h3><strong>Welcome to Kwik-E!</strong></h4>
            <p class='text-muted'></p>

            <p><strong>We LOVE hassel free shopping!</strong></p>
            <p class='text-muted'> Have you ever tried to go grocery shopping for your coworkers, family, or friends. If so then you have probably experienced how difficult putting together a grocery list as a group can be, especially today when everyone is on the go. It can also be a headache when you're at the grocery store shopping for everyone and then someone calls you to add more items to the list causing you to stop what you're doing so you personally can add their item to the list. Well today you no longer have to do that.    
                </p>
                    
            <p><strong>Let us do something for you!</strong></p>
            <p class='text-muted'>
                When using Kwik-E Groceries you can now shop with less stress by tracking you and your friends grocery wants and needs in one place. Now you and your group of friends or family can log on to Kwik-E Groceries and add, update, or remove grocery items in one place. If you're at the store and someone wants to add an additional item, no problem, all they have to do is log in and add their item to the list so everyone can see. <strong>HAPPY SHOPPING!</strong></p>
              
                   
            <p class='text-muted'>  
                Sign up for a <strong>FREE</strong> account today!</p>
                    
        </div>

        <div class='col-md-7 gx-5'>
            <figure class='figure-image'>
                <!--add image here-->
                <img src='' alt='main picture on homepage' class='img-fluid rounded mb-3'/>
                <a href='#!'></a>
            </figure>
        </div>

    </div>
</section>