<section id='about'>
    <div class='row'>
        <div class='col-md-5 gx-4 mb-4'>
            <h3><strong>Welcome to Kwik-E!</strong></h4>
            <p class='text-muted'></p>

            <p><strong>We LOVE our Community</strong></p>
            <p class='text-muted'>
                </p>
                    
            <p><strong>Let us do something for you!</strong></p>
            <p class='text-muted'>
                We have created this app as a aid to families. Using Kwik-E, you can track your:</p>
                <ul class='text-muted'>
                    <li>Family Item List</li>
                   
                </ul>
                <p class='text-muted'>
                Sign up for a <strong>FREE</strong> account today!</p>
                    
        </div>

        <div class='col-md-7 gx-5'>
            <figure class='figure-image'>
                <img src='' alt='' class=''/>
                <a href='#!'></a>
            </figure>
        </div>

    </div>
</section>