<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-5'>
      <h2>Add New Item</h2>
      <form class='form newItemForm'>
        <div class='form-group'>
          <label for='email-login'>Recipient</label>
          <input type='text' class='form-control' id='newitemItee' placeholder='Recipient Name'>
        </div>
        <div class='form-group'>
          <label for='password-login'>Description</label>
          <input type='text' class='form-control' id='newitemDescription' placeholder='Item Description'>
        </div>
        <button class='btn btn-primary submit' id='itemSave' type='submit'>Save</button>
        <button class='btn btn-warning submit' id='itemCancel' type='reset'>Cancel</button>
      </form>
    </div>
  </div>
</div>

<script src="./js/newItem.js"></script>